<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-button routerLink="/login">
          <ion-icon slot="icon-only" name="lock-closed-outline"></ion-icon>
        </ion-button>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/signup"></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header" *ngIf="!hasRegistered">
    <h1>Register</h1>
    <img src="assets/icon/login.png"/>
    <br>
  </div>

  <div id="header" *ngIf="hasRegistered">
    <h1>Login</h1>
    <img src="assets/icon/login.png"/>
    <br>
  </div>


  <!--<form id="form">-->
  <div *ngIf="hasRegistered">
    <ion-item class="ion-margin-button">
      <ion-input type="text" [(ngModel)]="mail" placeholder="Email"></ion-input>
    </ion-item>
    <br>
    <ion-item class="ion-margin-button">
      <ion-input type="password" [(ngModel)]="pass" placeholder="Password"></ion-input>
    </ion-item>
    <br>
    <ion-button expand="block" shape="round" (click)="checkCredentialsFront()">Login</ion-button>
  </div>
  <!--</form>-->

  <div *ngIf="!hasRegistered">
    <ion-item class="ion-margin-button">
      <ion-input [(ngModel)]="newUser.mail" placeholder="Email"></ion-input>
    </ion-item>
    <br>
    <ion-item class="ion-margin-button">
      <ion-input type="password" [(ngModel)]="newUser.pass" placeholder="Password"></ion-input>
    </ion-item>
    <br>
    <ion-button expand="block" shape="round" (click)="addUser()">Register</ion-button>
    <br>
    <!--<ion-list #mylist>
      <ion-list-header>
        <ion-label>Users</ion-label>
      </ion-list-header>
  
      <ion-item-sliding *ngFor="let user of users">
  
        <ion-item>
          <ion-label text-wrap>
            <h3>{{ user.mail }}</h3>
            <ion-text color="secondary">
              <p>{{ user.pass }}</p>
            </ion-text>
          </ion-label>
        </ion-item>
  
      </ion-item-sliding>
  
  
    </ion-list>-->
  </div>
  
</ion-content>