<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-button routerLink="/login">
          <ion-icon slot="icon-only" name="lock-closed-outline"></ion-icon>
        </ion-button>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/signup"></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="header" *ngIf="hasRegistered">
    <h1>Login</h1>
    <img src="assets/icon/login.png"/>
    <br>
  </div>

  <div *ngIf="hasRegistered">
    <ion-item class="ion-margin-button">
      <ion-input type="text" [(ngModel)]="email" placeholder="Email" name="email"></ion-input>
    </ion-item>
    <br>
    <ion-item class="ion-margin-button">
      <ion-input type="password" [(ngModel)]="password" placeholder="Password" name="password"></ion-input>
    </ion-item>
    <br>
    <ion-button expand="block" shape="round" (click)="OnSubmitLogin()">Login</ion-button>
  </div>
  
</ion-content>