<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Hi there, hope you liked our two-factor authentication method!</strong>
    <p>
      <br>
      Alejandro Gleason Méndez - A01703013
      <br>
      Ricardo A. Vázquez R. - A01209245
      <br>
      Ulises Almaguer Guzmán - A01209070
    </p>
  </div>
</ion-content>
