<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Welcome user, hope you liked our two-factor authentication mehtod</strong>
    <p>Check out -> <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">Ionic!</a></p>
  </div>
</ion-content>
